@media only screen and (max-width: 787px) {
    header img{
        width: 100%;
        height: auto;
      }
    header .nav-bar{
        height: 50px;
    }
    main{
        top: 35vh;
        padding: 0 20px;
    }
}
